<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <!-- begin js -->
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery.fitvids.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
  <script>
    $("#loadmore").click(loadMorePosts);
    
    function loadMorePosts() {
      var _this = this;
      var $container = $("#container");
      var nextPage = parseInt($container.attr("data-page")) + 1;
      var totalPages = parseInt($container.attr("data-totalPages"));
    
      $(this).addClass("loading");
    
      $.get("/page" + nextPage, function (data) {
        var htmlData = $.parseHTML(data);
        var $articles = $(htmlData).find(".article");
    
        $container.attr("data-page", nextPage).append($articles);
    
        if ($container.attr("data-totalPages") == nextPage) {
          $("#loadmore").remove();
        }
    
        $(_this).removeClass("loading");
      });
    }

    mybutton = document.getElementById("topBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
  </script>
  <!-- end js -->
</body>

</html>
